header {
    height: 100vh;

    background-image: url('{{ site.baseurl }}/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: #aaa;
}

/* header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
} */

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 22px;
    font-weight: 100;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}