@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
@import url("https://fonts.googleapis.com/css?family=Play");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 20px 0;
}

body {
  font-size: 16px;
  font-family: 'Play', sans-serif;
  line-height: 1.7;
  color: #444;
}

.view {
  position: relative;
  margin-top: 15% !important;
  font-size: 2rem;
  color: #444;
  font-family: 'Play', sans-serif;
  font-weight: bold;
  max-width: 95%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  display: inline-block;
}

@media screen and (max-width: 750px) {
  .view {
    font-size: 2rem;
  }
}