<!-- Workflow Section -->
<workflow>
  <div class="row title">
    <span>Quisque tellus risus, adipisci </span>
    <h2>Our Work Process </h2>
  </div>
  <div class="row">
    <ul class="process-wrapp">
        <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
            <span class="pro-step bottom20">01</span>
            <p class="fontbold bottom25">Concept</p>
            <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
        </li>
        <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
            <span class="pro-step bottom20">02</span>
            <p class="fontbold bottom25">Plan</p>
            <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
        </li>
        <li class="whitecolor wow fadeIn" data-wow-delay="500ms">
            <span class="pro-step bottom20">03</span>
            <p class="fontbold bottom25">Design</p>
            <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
        </li>
        <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
            <span class="pro-step bottom20">04</span>
            <p class="fontbold bottom25">Development</p>
            <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
        </li>
        <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
            <span class="pro-step bottom20">05</span>
            <p class="fontbold bottom25">Quality Check</p>
            <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
        </li>
    </ul>
  </div>
</workflow>
